services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: questhub
      POSTGRES_PASSWORD: questhubpassword
      POSTGRES_DB: questhub
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # backend:
  #   build: ./backend
  #   ports:
  #     - "8080:8080"
  #   env_file:
  #     - backend/.env
  #   depends_on:
  #     - postgres
  #     - frontend

  # frontend:
  #   build: ./frontend
  #   ports:
  #     - "3000:3000"
  #   env_file:
  #     - frontend/.env
  #   depends_on:
  #     - postgres

volumes:
  postgres_data:
